{% load cms_tags %}
<div class="sb_style" style="{% if instance.alignment %}{{ instance.get_wr_margin }}{% else %}{{ instance.style }}{% endif %}">
    {% if instance.alignment %}<div class="wr" style="{{ instance.style }}">{% endif %}
    {% for plugin in instance.child_plugin_instances %}
        {% render_plugin plugin %}
    {% endfor %}
    {% if instance.alignment %}</div>{% endif %}
</div>
